.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
  }
  
  .logo h1 {
    color: black;
    margin-left: 50px;
    font-size: 25px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  
  .navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }
  
  .navigation li {
    margin-right: 2rem;
    font-size: 14px;
   
   
  }
  
  .navigation a {
    text-decoration: none;
    color: black;
  }
  
  .cta-button {
    background-color: #0787FE;
    color: white;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    width : 145px;
    height: 47px;
    font-size: 14px;
  }

  li:hover {
      background-color: #0787FE;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 40px;
     
    }
