.latest-blog-container {
    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;
  }
  
  .latest-blog-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .latest-blog-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .latest-blog-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  

  .latest-blog-card p {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
  }
  
  .latest-blog-card .learn-more {
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
  }
  
  .blog-card {
      width: 363px;
      height: 234px;
      border-radius: 23px;
  }